header{
    background-image: url(../images/weather-header.jpg);
    background-size: 100% 100%;
}    
#search-button {
    background-color: #003566;
    color: white;
}

#search-button:hover {
    background-color: #e513c2;
    color: white;
}

.Btn {
    width: 15vw;
    padding: 10px;
    background-color: #837d94;
}

.Btn:hover {
    background-color: gold;
}
#forecast{
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin: 10px;
    padding: 10px;
}